@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.App {
  height: 100%;
  width: 100vw;
  font-family: "Inter", sans-serif;
}

.bodyContainer {
  width: 100vw;
  display: flex;
  align-items: center;
}
.formSubmitButton {
  width: 100%;
}
